---
import LinkFilm from "@components/LinkFilm.astro";
import ListeLinkFilm from "@components/ListeLinkFilm.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { formatDate } from "src/helpers";

// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
  const personnes = await getCollection("personnes");
  return personnes.map((personne) => ({
    params: { id: personne.id },
    props: { personne },
  }));
}

// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { personne } = Astro.props;
const { Content } = await render(personne);

const profession = personne.data.profession && [
  ...new Set(personne.data.profession),
];

const filmsRealises = [...(await getCollection("films"))].filter(
  (film) => film.data?.realisateur?.id === personne.id
);
---

<Layout pageTitle={`Fiche de ${personne.data.nom}`}>
  <h1>{personne.data.nom}</h1>
  <p>Nationalité : {personne.data.nationalite}</p>
  <p>Date de naissance : {formatDate(personne.data.dateNaissance)}</p>
  <p>Lieu de naissance : {personne.data.lieuNaissance}</p>
  {
    personne.data.dateDeces && (
      <p>Date de décès : {formatDate(personne.data.dateDeces)}</p>
    )
  }
  {
    profession && (
      <p>
        Profession{profession.length > 1 && <>s</>} :{" "}
        {profession.join(", ").replace(/, ([^,]*)$/, " et $1")}
      </p>
    )
  }
  {
    filmsRealises.length > 0 && (
      
        <h2>Films réalisés</h2>
        <p>
          <ListeLinkFilm films={filmsRealises}/>
        </p>
      
    )
  }
  <div class="prose">
    <Content />
  </div>
</Layout>
